* {
    box-sizing: border-box;
    border: 1px solid red;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h3, h4 {
    text-align: center;
}

h4 {
    margin-bottom: 5px;
}

img {
    width: 30vw;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.item {
    justify-content: center;
    text-align: center;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

footer a {
    color: #000000;

}
